@import '../../../sass/color';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .checkboxAudio {
        display: flex;
        align-items: center;
        gap: 8px;
        color: $primary-color;

        input {
            margin-top: 0;

            &:checked {
                background-color: $primary-color;
                border-color: $primary-color;
            }
        }
    }
}
