@import '../../../../sass/color';

a {
  text-decoration: none;

  .button {
    padding: 7px 20px;
    &:hover {
      opacity: 0.9;
      color: #fff;
    }
  }
}

@media (max-width: 739px) {
  .button {
    padding: 10px;
    font-size: 12px;
  }
}
