@import '../../../../sass/color';

.userCourse {
  margin-right: 16px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: $text-color;
  padding: 0;
  padding: 8px !important;

  &.primary {
    color: $primary-color !important;
  }

  a {
    color: $text-color;

    &:hover,
    &:active,
    &:focus,
    &:visited {
      color: $text-color;
    }
  }

  a::after {
    content: none;
  }
}

.wrapper {
  position: absolute;
  top: 35px !important;
  right: 16px !important;
  box-shadow: 0 -4px 32px rgba($color: #000000, $alpha: 0.2);
  color: #1d2129;
  margin: 0;
  overflow-y: scroll;
  padding-left: 0;
  transition: all 0.3s ease-in-out;
  will-change: opacity, transform;
  padding: 0 !important;
  max-height: 68vh;
  width: max-content;

  @keyframes fadeIn {
    from {
      opacity: 0;
      top: 100%;
    }

    to {
      opacity: 1;
      top: 34px;
    }
  }

  .header {
    padding: 14px 20px 16px;
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
    }

    h5 {
      font-size: 18px;
      font-weight: 600;
      margin: 0;
    }

    .viewAll {
      font-size: 14px;
      margin-left: auto;
      color: $primary-color;
      padding: 8px 0 8px 12px;
      border-radius: 4px;
      font-weight: 500;
    }
  }

  .noResult {
    font-size: 14px;
    padding: 0 20px;
  }

  .body {
    display: flex;
    padding: 0 20px;
    transition: background-color 0.3s;
    border-radius: 10px;
    max-height: 68vh;
    overflow-y: auto;

    &:hover {
      background-color: #1618230d;
    }

    .image {
      border-radius: 8px;
      height: 67px;
      width: 120px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .info {
      flex: 1 1;
      margin-left: 12px;

      h3 {
        font-size: 14px;
        margin: 6px 0 0;

        a {
          color: $text-color;
          text-decoration: none;
          padding: 0;
        }
      }

      p {
        font-size: 12px;
        margin: 4px 0 0;
        color: #666;
      }

      .startButton {
        font-size: 13px;
        font-weight: 600;
        color: $primary-color;
        margin-top: 6px;
        cursor: pointer;
        display: block;
        background-color: transparent;
        text-decoration: none;
        padding: 0;
      }
    }
  }
}

@media (max-width: 1023px) {
  .userCourse {
    display: none !important;
  }

  .wrapper {
    display: none !important;
  }
}
