@import '../../../../sass/flexCenter';
@import '../../../../sass/color';

.searchWrapper {
  border-radius: 20px;
  border: 2px solid #e8e8e8;
  transition: border-color 0.2s ease-in-out;
  background-color: #fff;
  @include flexCenter(row);
  padding: 0 16px 0 8px;
  margin: 0 auto;
  width: 420px;
  height: 40px;
  z-index: 100;

  &.focus {
    outline: #000000 solid 1px;
  }

  .clearText {
    cursor: pointer;
    padding: 4px 0 4px 4px;

    i {
      color: #7c7c7c;
      font-size: 22px;
    }
  }
}

.searchIcon {
  width: 30px;
  height: 32px;
  opacity: 0.7;
  border-radius: 50%;
  background-size: 18px;
  transition: opacity 0.2s ease-in-out;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36'%3E%3Cpath fill='rgba(68,68,68,0)' d='M0 0h36v36H0z'/%3E%3Cpath data-name='Path 127042' d='M35.4 32.5l-8.252-8.3A14.488 14.488 0 005.451 5.107 14.478 14.478 0 0024.2 27.075l8.263 8.314A2.061 2.061 0 0035.4 32.5zM5.344 15.479a10.327 10.327 0 1110.327 10.285A10.306 10.306 0 015.344 15.479z' fill='%23444'/%3E%3C/svg%3E");

  &:hover {
    opacity: 1;
  }
}

.searchInput {
  flex: 1 1;
  height: 100%;
  outline: none;
  border: none;
  padding: 0 4px;
  caret-color: #444;
  font-size: 14px;
  width: 100%;

  &:focus {
    border: transparent !important;
    box-shadow: none !important;
    outline: none;
  }
}

.dropDown {
  animation: fadeIn 0.3s ease;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 -4px 32px rgba($color: #000000, $alpha: 0.2);
  color: #1d2129;
  margin: 0;
  overflow: hidden;
  padding-left: 0;
  transition: all 0.3s ease-in-out;
  will-change: opacity, transform;
  position: absolute;
  top: 62px;

  .resultWrapper {
    color: $description-color;
    font-size: 14px;
    max-height: calc(90vh - 66px);
    min-height: 50px;
    min-width: 230px;
    overflow-y: auto;
    padding: 12px 24px;
    width: 420px;
  }

  .header {
    align-items: center;
    display: flex;
    padding: 6px 0 0;

    i {
      margin-right: 8px;
    }
  }

  .heading {
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    padding: 24px 0 12px;

    h5 {
      color: $text-color;
      font-size: 13px;
      font-weight: 600;
      margin: 0;
    }

    a {
      color: $description-color;
      font-size: 13px;
      text-decoration: none;
    }
  }

  .searchItem {
    align-items: center;
    display: flex;
    padding: 6px 0;
    text-decoration: none;

    img {
      border-radius: 50%;
      height: 32px;
      object-fit: cover;
      width: 32px;
      border-style: none;
    }

    span {
      word-wrap: break-word;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      color: #292929;
      display: -webkit-box;
      font-size: 14px;
      line-height: 1.6;
      margin-left: 12px;
      overflow: hidden;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media (max-width: 739px) {
  .searchWrapper {
    display: none !important;
  }
}
