@import '../../../../sass/flexCenter';
@import '../../../../sass/color';

.container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 -4px 32px rgba($color: #000000, $alpha: 0.2);
  color: #1d2129;
  margin: 0;
  overflow: hidden;
  padding-left: 0;
  transition: all 0.3s ease-in-out;
  will-change: opacity, transform;
  min-width: 230px;
  padding: 8px 24px !important;
  position: absolute;
  top: 100%;
  right: 30px;
  display: flex;
  flex-direction: column;

  .user {
    display: flex;
    align-items: center;

    .avatar {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
      margin: 10px 0;
    }

    .info {
      margin-left: 12px;

      .name {
        font-size: 16px;
        font-weight: 600;
        color: #292929;
      }

      .fullName {
        font-size: 14px;
        color: #757575;
        margin-top: 4px;
      }
    }
  }

  .content {
    .list {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        a {
          text-decoration: none;
          font-size: 14px;
          color: #666;
          display: block;
          padding: 10px 0;
        }
      }
    }
  }
}

.userCourse {
  margin-right: 16px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  padding: 8px;
  color: $text-color;
  background-color: transparent;
}

.userPicture {
  width: 28px;
  height: 28px;
  margin-left: 12px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  // display: flex;
  // align-items: center;
}

@media (max-width: 1023px) {
  .userCourse,
  .userPicture {
    display: none !important;
  }

  .container {
    display: none;
  }
}
