@import '../../../sass/color';

.addCard {
  border: 3px dashed #e8e8e8;
  border-radius: 16px;
  display: block;
  padding-top: 56.25%;
  position: relative;
  transition: 0.3s ease;
  cursor: pointer;
  a {
    text-decoration: none;
    i {
      color: #666;
      font-size: 28px;
      top: 40px;
      transition: 0.3s ease;
      left: 50%;
      position: absolute;
      transform: translate(-50%);
    }

    .star {
      background-color: $primary-color;
      height: 93px;
      left: 50%;
      mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjYuMjA1IiBoZWlnaHQ9IjkyLjQxNSI+PGcgZGF0YS1uYW1lPSJHcm91cCAyOTM0MTkiIGZpbGw9IiNkZWRlZjkiPjxwYXRoIGRhdGEtbmFtZT0iUGF0aCAxMjkyNjciIGQ9Im0xMjUuMzQ5IDgwLjM0OC0xLjE5Mi40ODFhMTkuMzggMTkuMzggMCAwIDAtMTAuNzI0IDEwLjcyNiAxLjM2OSAxLjM2OSAwIDAgMS0yLjUzOSAwIDE5LjM3MyAxOS4zNzMgMCAwIDAtMTAuNzI0LTEwLjcyNmwtMS4xOTItLjQ4MWExLjM2NyAxLjM2NyAwIDAgMSAwLTIuNTM4bC41MDYtLjJhMTkuMzg2IDE5LjM4NiAwIDAgMCAxMC43MjYtMTAuNzI4bC42ODItMS42OTNhMS4zNjkgMS4zNjkgMCAwIDEgMi41MzkgMGwuNjg0IDEuN2ExOS4zOSAxOS4zOSAwIDAgMCAxMC43MjMgMTAuNzI0bC41MDYuMmExLjM2NyAxLjM2NyAwIDAgMSAwIDIuNTM4WiIvPjxwYXRoIGRhdGEtbmFtZT0iUGF0aCAxMjkyNjgiIGQ9Im0yMS40NzcgMTIuNjM1LS45NC4zOGExNS4yODcgMTUuMjg3IDAgMCAwLTguNDU5IDguNDU5IDEuMDc5IDEuMDc5IDAgMCAxLTIgMCAxNS4yOCAxNS4yOCAwIDAgMC04LjQ1OC04LjQ1OWwtLjk0LS4zOGExLjA3OSAxLjA3OSAwIDAgMSAwLTJsLjQtLjE2MWExNS4yODQgMTUuMjg0IDAgMCAwIDguNDYtOC40NjJsLjUzOC0xLjMzNmExLjA4MSAxLjA4MSAwIDAgMSAyIDBsLjU0IDEuMzM4YTE1LjI4NiAxNS4yODYgMCAwIDAgOC40NTggOC40NThsLjQuMTYyYTEuMDggMS4wOCAwIDAgMSAwIDJaIi8+PC9nPjwvc3ZnPg==);
      opacity: 0;
      position: absolute;
      top: 10px;
      transform: translate(-50%, 50px) scale(0.6);
      transition: 0.5s ease;
      width: 126px;
    }

    .button {
      left: 50%;
      position: absolute;
      transform: translate(-50%);
      border-width: 2px;
      bottom: 20px;
      background-color: #fff;
      border: 2px solid $primary-color;
      color: $primary-color;
    }
  }

  &:hover {
    border: 3px dashed $primary-color;

    .star {
      opacity: 0.3;
      transform: translate(-50%) scale(0.6);
    }
  }
}

@media (max-width: 1023px) {
  .addCard {
    a {
      button {
        display: none;
      }
    }
  }
}
