.title {
  margin: 12px 0;
}

.studentCount {
  span {
    color: #666;
    font-size: 14px;
    margin-left: 8px;
  }

  i {
    color: #666;
  }
}

.progress {
  p {
    color: #666;
    font-size: 13px;
    margin: 0 0 16px;
  }
}

@media (max-width: 739px) {
  .studentCount {
    display: none;
  }
}
