@import '../../sass/flexCenter';
@import '../../sass/color';

.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;

  h1 {
    margin: 20px 0 80px 0;
  }

  .tabs {
    display: flex;
  }

  .message {
    font-size: 14px;
    margin-top: 32px;
    line-height: 1.6;

    a {
      color: #029e74;
      font-weight: 600;
      text-decoration: underline;
    }
  }

  .list {
    list-style-type: none;

    a {
      text-decoration: none;
    }
  }

  .tabs {
    display: flex;
    margin-top: 16px;
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .tab {
      font-size: 16px;
      font-weight: 700;
      padding-bottom: 8px;
      color: #666;
      cursor: pointer;
      background-color: transparent;
      border-bottom: 2px solid transparent;
      white-space: nowrap;
      color: #242424;
      border-bottom: 2px solid #242424;
    }
  }

  .bookmarkList {
    border: 2px solid #e8e8e8;
    border-radius: 16px;
    margin: 16px 0 0 0;
    padding: 16px 24px 22px;
    position: relative;
    list-style-type: none;

    h3 {
      margin-top: 0;
      padding-right: 24px;

      a {
        color: $text-color;
        font-size: 19px;
        line-height: 1.6;
        text-decoration: none;
        font-weight: 600;
      }
    }

    .author {
      color: $description-color;
      font-size: 14px;

      a {
        color: #029e74;
        text-decoration: none;
      }

      .dot {
        padding: 0 6px;
      }
    }

    .option {
      color: #666;
      font-size: 16px;
      margin-left: 4px;
      padding: 4px 8px;
      position: absolute;
      right: 16px;
      top: 8px;
    }
  }
}

@media (max-width: 739px) {
  .wrapper {
    h1 {
      margin: 20px 0 48px 0;
    }
  }
}
