@import '../../sass/color';

.commentButton {
    bottom: 70px;
    position: fixed;
    right: 20px;
    z-index: 1;

    .wrapper {
        background-color: #fff;
        border-radius: 999px;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
        color: $primary-color;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        padding: 8px 12px;
        position: relative;
        user-select: none;
        display: block;
        outline: none;
        border: none;

        i {
            color: $primary-color;
        }
    
        .title {
            margin-left: 8px;
        }
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .commentButton {
        bottom: 78px;
    }
}

@media (min-width: 0px) and (max-width: 739px){
    .commentButton {
        bottom: 90px;
        right: 16px;

        .wrapper {
            padding: 12px;

            .title {
                display: none;
            }
        }
    }
}