@import '../../sass/color';

.wrapper {
  border: 2px solid #e8e8e8;
  border-radius: 16px;
  margin-top: 16px;
  padding: 16px 24px 22px;
  position: relative;

  h3 {
    margin-top: 0;
    padding-right: 24px;

    a {
      color: $text-color;
      font-size: 19px;
      line-height: 1.6;
      text-decoration: none;
    }
  }

  .author {
    color: $description-color;
    font-size: 14px;

    a {
      color: #029e74;
      text-decoration: none;
    }

    .dot {
      padding: 0 6px;
    }
  }

  .more {
    color: #666;
    font-size: 16px;
    margin-left: 4px;
    padding: 4px 8px;
    position: absolute;
    right: 16px;
    top: 8px;
  }
}

.message {
  font-size: 14px;
  line-height: 1.6;
  margin-top: 32px;
  // height: 100vh;

  a {
    color: #029e74;
    font-weight: 600;
  }
}

.tabs {
  display: flex;
}

.blogList {
  border: 2px solid #e8e8e8;
  border-radius: 16px;
  margin: 16px 0 0 0;
  padding: 16px 24px 22px;
  position: relative;
  list-style-type: none;

  .heading {
    display: flex;
    justify-content: space-between;
    word-break: break-all;

    h3 {
      margin-top: 0;
      padding-right: 24px;

      a {
        color: $text-color;
        font-size: 19px;
        line-height: 1.6;
        text-decoration: none;
        font-weight: 600;

        .clockIcon {
          color: #757575;
          margin-right: 8px;
        }
      }
    }

    .optionWrapper {
      min-width: 200px;
      padding: 8px 0;
      right: -8px;
      z-index: 1;
      cursor: pointer;

      .optionItem {
        color: #444;
        display: block;
        font-size: 14px;
        padding: 12px 20px;
        transition: 0.3s;

        &:hover {
          background-color: #f0f0f0;
          color: #292929;
        }
      }
    }
  }

  .optionBtn {
    color: #666;
    font-size: 16px;
    margin-left: 4px;
    padding: 4px;
    cursor: pointer;
  }

  .author {
    color: $description-color;
    font-size: 14px;

    a {
      color: #029e74;
      text-decoration: none;
    }

    .dot {
      padding: 0 6px;
    }
  }
}

@media (max-width: 1023px) {
  .layout {
    flex-direction: column-reverse;
  }

  .leftLayout {
    padding: 0 !important;
  }
}
