.wrapper {
  margin-top: 10px;
  padding: 0 32px;
  border: none !important;
  outline: none !important;

  .contentEditable {
    border: none;
    color: #292929;
    font-size: 32px;
    font-weight: 500;
    min-height: 48px;
    width: 100%;
    line-height: 1.4;
    outline: none;
    margin-bottom: 16px;
  }
}
