@import '../../sass/color';

.wrapper {
  background-color: #fff;
  color: #fff;
  margin-bottom: 24px;
  padding: 0 28px 12px 28px;
  position: relative;

  h3 {
    color: $text-color;
    font-size: 14px;
    margin-bottom: 14px;
  }

  h2 {
    color: $text-color;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 24px;
    margin-top: 0;
  }
}
