$primary-color: #f05123;
$invalid-color: #f33a58;
$text-color: #333;
$facebook-color: #1473e6;
$primary-btn-color: #fff;
$outline-btn-color: #292929;
$footer-text-color: #a9b3bb;
$invalid-color: #f33a58;
$description-color: #0000008a;
