@import './color';
@import './flexCenter';

.row {
  margin-top: 66px;
}

@media (max-width: 1023px) {
  .container-fluid {
    padding: 0 !important;
  }

  .row {
    padding: 0 20px;
  }
}

@media (max-width: 739px) {
  .row {
    padding: 0;
  }
}
