@import './color';
@import './flexCenter';

.row {
  margin-top: 66px;
}

//Slide bootstrap
.carousel-control-prev,
.carousel-control-next {
  width: 0;
}

.carousel-control-prev-icon {
  top: 50%;
  z-index: 1;
  color: #4b4b4b;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
  cursor: pointer;
  left: -18px;
  position: absolute;
  @include flexCenter(row);

  span {
    @include flexCenter(row);
  }
}

.carousel-control-next-icon {
  top: 50%;
  z-index: 1;
  color: #4b4b4b;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
  cursor: pointer;
  right: -18px;
  position: absolute;
  @include flexCenter(row);

  span {
    @include flexCenter(row);
  }
}

.carousel-control-next-icon:after {
  content: url('../asset/chevron-right.png');
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}

.carousel-control-prev-icon:after {
  content: url('../asset/chevron-left.png');
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}

.carousel-indicators {
  left: 36px;
  bottom: -26px;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;

  button {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 32px !important;
    height: 8px !important;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.6s ease;
    background-color: #9aa6af !important;
    border: 0 !important;
    border-radius: 4px !important;
  }

  .active {
    width: 50px !important;
  }
}

// Markdown editor
.rc-md-editor {
  margin-bottom: 31px;
  height: calc(100vh - 100px) !important;
  border: none !important;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-bottom: 1px;
  position: relative;
  background: #fff;

  .editor-container {
    .sec-html {
      border-left: 1px solid #ebebeb;
    }
  }

  .rc-md-navigation {
    background-color: #fff !important;
    border-bottom: none !important;
    position: sticky;
    top: 66px;
    z-index: 1;
  }
}

@media (max-width: 1023px) {
  .container-fluid {
    padding: 0 !important;
  }

  .offcanvas {
    width: 60% !important;
    z-index: 9999 !important;
    font-size: 1.6rem;
    padding: 16px 0 0 32px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
  }

  .row {
    padding: 0 20px;
  }

  .carousel-indicators {
    left: 4px;
  }

  .modal-backdrop {
    display: none !important;
  }
}

@media (max-width: 739px) {
  .offcanvas {
    width: 80% !important;
    padding: 16px 0 0 16px !important;
  }

  .row {
    padding: 0;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none;
  }
}
