.rc-md-editor {
  margin-bottom: 31px;
  height: calc(100vh - 100px) !important;
  border: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-bottom: 1px;
  position: relative;
  background: #fff;

  .editor-container {
    .sec-html {
      border-left: 1px solid #ebebeb;
    }
  }

  .rc-md-navigation {
    background-color: #fff !important;
    border-bottom: none !important;
    position: sticky;
    top: 66px;
    z-index: 1;
  }
}
