.wrapper {
  margin-top: 0 !important;
  margin-bottom: 60px;
  padding: 8px 44px 0;

  .containerTop {
    h2 {
      color: #242424;
      font-size: 28px;
      font-weight: 900;
      margin: 18px 0;
    }
    padding: 0;
    margin-bottom: 40px;
  }
}

.leftLayout {
  padding: 0px 64px 44px 0px !important;
}

.rightLayout {
  height: 100%;
  padding-left: 32px;
}

@media (max-width: 1023px) {
  .wrapper {
    margin-top: 0;
    margin-bottom: 48px;
    padding: 0 8px !important;

    .containerTop {
      margin-bottom: 40px;
    }
  }

  .leftLayout {
    padding: 0 !important;
  }

  .rightLayout {
    padding: 0 0 32px;
  }
}
