@import '../../sass/color';

.wrapper {
  margin-top: 0;
  margin-bottom: 60px;
  padding: 8px 44px 0;

  .containerTop {
    h2 {
      color: #242424;
      font-size: 28px;
      font-weight: 900;
      margin: 18px 0;
    }
    padding: 0;
    margin-bottom: 60px;
  }
}

.containerBody {
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
  }

  padding: 0;
}

@media (max-width: 1023px) {
  .wrapper {
    margin-bottom: 48px;
    padding: 0 16px;

    .containerTop {
      margin-bottom: 60px;
    }
  }
}
