@import '../../sass/color';

.formContact {
  max-width: 600px;

  .formGroup {
    margin-bottom: 16px;
    position: relative;

    label {
      color: $text-color;
      display: block;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      padding-bottom: 6px;
    }

    input {
      font-size: 14px;
      position: relative;
      border: 2px solid #e8e8e8;
      border-radius: 6px;
      height: 36px;
      padding: 4px 12px;
      color: $text-color;
      font-family: inherit;
      transition: background-color 0.15s cubic-bezier(0.2, 0.2, 0.2, 1),
        border-color 0.15s cubic-bezier(0.2, 0.2, 0.2, 1);
      width: 100%;
      background-color: #fff;
    }
  }

  .button {
    min-width: 100px;

    &:hover {
      opacity: 0.9;
    }
  }
}
