@import '../../sass/color';
@import '../../sass/flexCenter';

.wrapper {
  margin-top: 0;
  margin-bottom: 60px;

  .containerTop {
    h2 {
      color: #242424;
      font-size: 28px;
      font-weight: 900;
      margin: 18px 0;
    }

    margin-bottom: 20px;
  }
}

@media (max-width: 1023px) {
  .wrapper {
    margin-bottom: 48px;
    padding: 0;

    .containerTop {
      margin-bottom: 20px;
    }
  }
}
