.editorWrapper {
  padding: 0 30px;

  .rc-md-editor {
    height: 60vh !important;
  }

  .heading {
    font-weight: 600;
  }

  .submitButton {
    margin-top: 40px;
    background-color: #3478d8;
  }
}
