@import '../../../../sass/linkHover';
@import '../../../../sass/color';

.wrapperList {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.list {
  padding-left: 0;
  list-style-type: none;
}

.item {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 8px;
  // color: $text-color;
  color: $footer-text-color;
}

.link {
  @include linkHover();
}

.subLink {
  position: relative;

  &:hover {
    cursor: pointer;
    & .subList {
      opacity: 1;
      visibility: inherit;
    }
  }
}

.subList {
  list-style-type: none;
  width: 220px;
  position: absolute;
  top: -10px;
  left: 60%;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 4px 12px 0 rgba($color: #000000, $alpha: 0.05);
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  & .item {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 8px;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .wrapperList {
    justify-content: flex-start;
  }
}
