.suggestion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  overflow: hidden;

  .suggestionInfo {
    width: 400px;

    h2 {
      font-size: 24px;
      font-weight: 900;
      line-height: 1.6;
    }

    p {
      font-size: 14px;
      line-height: 1.6;
    }

    .button {
      padding: 8px 16px !important;
      font-size: 15px;
      margin-top: 8px;

      &:hover {
        background-color: #292929;
        color: #fff;
      }
    }
  }

  .image {
    img {
      position: relative;
      right: -44px;
      width: 420px;
    }
  }
}

@media (max-width: 739px) {
  .suggestion {
    padding: 0 16px;
  }

  .suggestionInfo {
    a {
      width: 100%;
    }
  }

  .image {
    display: none;
  }
}
