.scrollHorizontal {
  margin-top: 0 !important;
}

.continueBtn {
  display: none;
}

@media (max-width: 1023px) {
  .scrollHorizontal {
    flex-wrap: nowrap;
    overflow: scroll;
    padding: 0;
  }

  .continueBtn {
    display: flex !important;
  }
}
