@import '../../../sass/color';
@import '../../../sass/flexCenter';

.wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  @include flexCenter(row);
  border: 2px solid #d4d4d4;
  margin-left: 8px;

  &:hover {
    background-color: #d4d4d4;
  }

  .courseStep {
    text-decoration: none;

    img {
      width: 22px;
      height: 22px;
      object-fit: cover;
    }
  }

  .percent {
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 12px;
  }
}
