@import '../../sass/color';

.buttonIcon {
  cursor: pointer;
  margin: 0 6px;
  color: $primary-color;

  &.addPopular {
    color: green;
  }

  &.removePopular {
    color: red;
  }

  &.delete {
    color: black;
  }

  &.lessons {
    color: #146ebe;
  }

  &.disabled {
    color: #ddd;
    pointer-events: none;
    cursor: none;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.breakWord {
  word-break: break-all;
}
