@import '../../../sass/color';

.tabs {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  margin-top: 16px;
  padding-left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  & li + li {
    margin-left: 24px;
  }

  .tab {
    color: $description-color;
    display: block;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 14px;
    text-decoration: none;

    &.active {
      font-weight: 700;
      position: relative;
      color: #000;

      &::after {
        border-bottom: 2px solid #000;
        bottom: -1px;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        right: 0;
      }
    }
  }
}
