@import '../../../sass/color';

.tabs {
  display: flex;
  margin-top: 16px;
  overflow-x: auto;
  overflow-y: hidden;
  list-style-type: none;
  padding-left: 0;

  & + & {
    margin-left: 24px;
  }

  .tab {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 8px;
    color: #666;
    cursor: pointer;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    white-space: nowrap;

    &.active {
      color: #242424;
      border-bottom: 2px solid #242424;
    }
  }
}


