.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    text-decoration: none;
  }

  .author {
    display: flex;
    align-items: center;

    img {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      object-fit: cover;
      flex-shrink: 0;
    }

    span {
      font-size: 12px;
      color: #292929;
      font-weight: 600;
      margin-left: 8px;
    }
  }

  .action {
    font-size: 16px;
    user-select: none;
    color: #757575;
    display: flex;
    margin-right: -8px;

    i {
      cursor: pointer;
      padding: 4px 8px;
      color: #757575;
    }
  }
}

.body {
  display: flex;
  align-items: center;
  flex: 1 1;
  padding-right: 32px;

  a {
    text-decoration: none;
  }

  .content {
    h3 {
      color: #292929;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.6;
      margin-top: 8px;
      margin-bottom: 0;
    }

    p {
      margin-top: 4px;
      font-size: 15px;
      line-height: 1.6;
      color: #505050;
      overflow: hidden;
      word-wrap: break-word;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }

    .info {
      font-size: 14px;

      .dot {
        margin: 0 8px;
      }
    }
  }
}

@media (max-width: 739px) {
  .body {
    flex-direction: column;
  }
}
