@import '../../sass/color';
@import '../../sass/flexCenter';

.menuWrapper {
  position: absolute;
  right: 0;
  top: 40px;
  width: 240px;

  .menuItem {
    color: #444;
    cursor: pointer;
    font-size: 14px;
    padding: 12px 20px;

    &:active {
      background: #d2d5d8;
      color: #444;
    }

    i {
      font-size: 16px;
    }

    span {
      margin-left: 16px;
    }
  }
}
