.wrapper {
  margin-top: 60px;

  .heading {
    font-size: 22px;
    margin: 22px 0;
  }
  .list {
    font-size: 16px;
    list-style-type: disc;
    padding-left: 28px;
    word-break: break-all;

    .noBlogSameAuthor {
      color: #757575;
      font-size: 16px;
    }

    a {
      color: #292929;
      display: inline-block;
      padding: 4px 0;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
