@import '../../sass/color';

.modal {
  animation: fadeIn 0.2s ease;
  display: flex;
  inset: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  will-change: opacity, transform;
  z-index: 999;
  background-color: #fff;

  .close {
    color: $description-color;
    font-size: 22px;
    font-weight: 600;
    padding: 12px 24px 24px;
    position: fixed;
    right: 8px;
    top: 0;
    z-index: 99999;
    cursor: pointer;
  }
  .wrapper {
    margin: auto;
    padding: 100px 0;
    position: relative;
    width: 100%;
    max-width: 1224px;
    z-index: 1;

    .colLeft {
      line-height: 1.6;
      padding-right: 28px;

      h3 {
        color: $text-color;
        font-size: 16px;
        font-weight: 600;
      }

      .postButtonThumb {
        background-color: #fafafa;
        background-position: 50%;
        background-size: cover;
        color: $description-color;
        flex-direction: column;
        font-size: 14px;
        height: 200px;
        margin-top: 16px;
        outline: none;
        padding: 24px;
        position: relative;
        text-align: center;

        &::before {
          background-color: hsla(0, 0%, 100%, 0.9);
          bottom: 0;
          content: '';
          display: block;
          left: 0;
          opacity: 0;
          position: absolute;
          right: 0;
          top: 0;
          transition: opacity 0.3s ease;
        }

        input {
          display: none !important;
        }

        p {
          margin: 14px 0;
        }

        span {
          color: $primary-color;
          margin-top: 12px;
        }

        &[style^='background-image:'] p,
        &[style^='background-image:'] span {
          opacity: 0;
        }

        &[style^='background-image:']:hover {
          &::before {
            opacity: 1;
          }
          & p,
          & span {
            opacity: 1;
            position: relative;
            z-index: 1;
          }
        }
      }

      .note {
        color: $description-color;
        font-size: 14px;
        margin-top: 24px;
      }

      .contentEditable {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        margin: 16px 0 4px;
        padding-bottom: 4px;
      }
      .help {
        color: $description-color;
        font-size: 10px;
      }

      .title {
        font-size: 20px;
        font-weight: 600;
      }

      .description {
        font-size: 14px;
      }
    }
    .colRight {
      line-height: 1.6;
      padding-left: 28px;

      span {
        color: $text-color;
        font-size: 14px;
        margin-bottom: 8px;
      }

      .tagWrapper {
        align-items: center;
        background-color: #fafafa;
        border: 1px solid rgba(0, 0, 0, 0.15);
        display: flex;
        flex-wrap: wrap;
        min-height: 52px;
        padding-bottom: 8px;
        position: relative;

        &.invalid {
          background-color: #fff4f6;
          border-color: #f33a58;
        }

        .tagsInput {
          background-color: transparent;
          border: none;
          flex: 1 1;
          height: 37px;
          margin-top: 8px;
          outline: none;
          padding-left: 8px;
          font-size: 13px;
        }

        .tagCard {
          align-items: center;
          background-color: #fff;
          border: 1px solid #f0f0f0;
          border-radius: 3px;
          display: flex;
          font-size: 14px;
          margin: 8px 0 0 8px;
          outline: none;
          padding: 6px 8px;

          &.active {
            border-color: grey;
          }

          span {
            color: $text-color;
            margin-bottom: 0;
          }

          button {
            appearance: none;
            background: transparent;
            border: none;
            color: $description-color;
            font-size: 12px;
            outline: none;
            padding: 0 0 2px 8px;
          }
        }
      }

      .invalidText {
        color: #f33a58;
        margin-top: 4px;
        font-size: 13px;
      }

      .allow {
        margin-top: 26px;
        display: flex;

        label {
          font-size: 14px;
          font-weight: 400;
          line-height: 28px;
          flex-grow: 1;
          margin: 0 8px 0 0;
          vertical-align: middle;
          -webkit-box-flex: 1;
        }

        input {
          flex-shrink: 0;
          height: 16px;
          margin: 6px 8px 0 0;
          width: 16px;
        }
      }
      .actions {
        margin-top: 32px;

        .postButton {
          border: none;
          outline: none;
          border-radius: 4px;
          appearance: none;
          background-color: #029e74;
          color: #fff;
          display: inline-block;
          font-size: 14px;
          outline: none;
          padding: 10px 16px;

          &.disabled {
            opacity: 0.5;
            cursor: not-allowed;
            pointer-events: none;
          }

          &:hover {
            opacity: 0.9;
          }
        }

        .postScheduleButton {
          border: none;
          border-color: transparent;
          color: $description-color;
          appearance: none;
          background-color: #fff;
          border-radius: 4px;
          display: inline-block;
          font-size: 14px;
          outline: none;
          padding: 10px 16px;
        }
      }

      .schedule {
        margin-top: 32px;

        label {
          color: $text-color;
          font-size: 14px;
        }

        input {
          align-items: flex-end;
          margin-top: 0;
          display: flex;
          justify-content: space-between;
          outline: none;
          border: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.15);
          margin: 16px 0 4px;
          padding-bottom: 4px;
          width: 100%;
        }

        .help {
          font-size: 14px;
          color: $description-color;
        }

        p {
          color: $description-color;
          font-size: 14px;
          margin-top: 24px;
        }
      }
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1239px) {
  .wrapper {
    width: 984px !important;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .wrapper {
    width: 644px !important;
  }
}
