@import '../../sass/color';

.reaction {
  color: #757575;
  display: flex;
  font-size: 16px;
  margin-top: 24px;
  .reactButton {
    padding: 4px 8px;
    user-select: none;

    i {
      font-size: 20px;

      &.active {
        color: #ed2b48;
      }
    }

    span {
      margin-left: 8px;
    }

    &:hover {
      color: #333;
      cursor: pointer;
    }
  }

  & .reactButton:last-child {
    margin-left: 24px;
  }
}

.wrapper {
  animation: slideIn 0.5s ease;
  cursor: pointer;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: unset;
  will-change: opacity;
  width: 720px;

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(80%);
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

@media (min-width: 0px) and (max-width: 739px) {
  .wrapper {
    padding: 10px 10px calc(20% - 10px);
  }
}
