@import '../../sass/color';

.reaction {
  color: #757575;
  display: flex;
  font-size: 16px;
  margin-top: 24px;
  .reactButton {
    padding: 4px 8px;
    user-select: none;

    i {
      font-size: 20px;

      &.active {
        color: #ed2b48;
      }
    }

    span {
      margin-left: 8px;
    }

    &:hover {
      color: #333;
      cursor: pointer;
    }
  }

  & .reactButton:last-child {
    margin-left: 24px;
  }
}
