.wrapper {
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 0 40px;

  h2 {
    margin: 24px 0;
  }

  .tabs {
    display: flex;
    margin-bottom: 24px;
  }

  a {
    text-decoration: none;

    .button {
      margin: 0 auto;
      width: 100%;
    }
  }
}

.sidebarWrap {
  left: 0;
  padding-right: 20px;
  position: fixed;
  top: 74px;
  transform: translateX(-96px);
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  will-change: transform;
  z-index: 1;
  flex-shrink: 0;
  height: 378px;

  &::after {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    bottom: 0;
    content: '';
    height: 100%;
    position: absolute;
    left: 96px;
    transition: transform 0.5s ease, opacity 0.5s ease,
      -webkit-transform 0.5s ease;
    width: 4px;
  }

  &:hover {
    transform: translateX(0);
    &::after {
      content: none;
    }
  }
}

@media (max-width: 1023px) {
  .sidebarWrap {
    display: none;
  }
}
