@import '../../../sass/flexCenter';
.wrapper {
  flex-shrink: 0;
  width: 96px;
}

.container {
  @include flexCenter(column);
  flex-shrink: 0;
  position: fixed;
  top: 80px;
  padding: 0 8px;
  width: 96px;
  z-index: 8;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.blogSidebar {
  @include flexCenter(column);
  flex-shrink: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;

  a {
    width: 72px;
    height: 72px;
    @include flexCenter(column);
    color: #404040;
    border-radius: 16px;
    margin-top: 4px;
    text-decoration: none;

    &:hover {
      background-color: #f1f5f7;
    }
  }

  a.active {
    background-color: #e8ebed;
    color: #1a1a1a;
  }

  span {
    font-size: 11px;
    font-weight: 600;
    margin-top: 6px;
  }
}

@media (max-width: 1023px) {
  .wrapper {
    display: none;
  }
}
