@import '../../../sass/flexCenter';

.navHeader {
  background-color: #fff;
  padding: 0 28px !important;
  height: 66px;
  border-bottom: 1px solid #e8ebed;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  will-change: transform;
  z-index: 20;

  &.moveOut {
    transform: translateY(calc(66px * -1));
  }

  .navAction {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .userAction {
    align-items: center;
    display: flex;
    flex: 1 1;
    justify-content: flex-end;

    .searchMobileWrapper {
      width: fit-content;
      height: fit-content;
      padding: 8px 16px;
      border-radius: 20px;
      transition: border-color 0.2s ease-in-out;
      background-color: #fff;
      display: none;
      .searchMobileIcon {
        width: 30px;
        height: 32px;
        opacity: 0.7;
        border-radius: 50%;
        background-size: 18px;
        transition: opacity 0.2s ease-in-out;
        background-position: 50%;
        background-repeat: no-repeat;
        background-color: #fff;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36'%3E%3Cpath fill='rgba(68,68,68,0)' d='M0 0h36v36H0z'/%3E%3Cpath data-name='Path 127042' d='M35.4 32.5l-8.252-8.3A14.488 14.488 0 005.451 5.107 14.478 14.478 0 0024.2 27.075l8.263 8.314A2.061 2.061 0 0035.4 32.5zM5.344 15.479a10.327 10.327 0 1110.327 10.285A10.306 10.306 0 015.344 15.479z' fill='%23444'/%3E%3C/svg%3E");

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .navHeader {
    padding: 0 32px !important;
  }
}

@media (max-width: 739px) {
  .navHeader {
    padding: 0 16px !important;
  }

  .searchMobileWrapper {
    display: block !important;
  }
}
