@import '../../../sass/color';

.comment {
  line-height: 1.6;
  margin: 0 0 8px 32px;
  max-width: 600px;
  padding-bottom: 48px;
  position: relative;

  img {
    border-radius: 50%;
    height: 36px;
    left: -32px;
    position: absolute;
    text-align: center;
    top: -4px;
    width: 36px;
  }

  .commentInput {
    border-bottom: 1px solid #ccc;
    margin: 16px 0 0 16px;
    padding-bottom: 4px;
    padding-left: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    display: block;
    font-size: 14px;
    line-height: inherit;
    min-height: 16px;
    position: relative;
    z-index: 1;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  .commentCode {
    bottom: 0;
    font-size: 12px;
    height: 42px;
    left: 16px;
    position: absolute;
    width: 100px;
    color: #666;
    display: inline-block;
    transition: color 0.3s linear;

    &:hover {
      cursor: pointer;
      color: #000;
    }

    i {
      margin-right: 4px;
      font-size: 14px;
    }
  }

  .submitWrapper {
    bottom: 0;
    position: absolute;
    right: 0;

    .cancel {
      margin-right: 16px;
      background: transparent;
      border-radius: 20px;
      color: #888;
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      padding: 8px 12px;
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;
      user-select: none;
      outline: none;
      border: none;

      &:hover {
        background: #ebebeb;
        color: #777;
        cursor: pointer;
        opacity: 0.8;
      }
    }

    .submit {
      background: #ccc;
      color: #fff;
      pointer-events: none;
      border-radius: 20px;
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      padding: 8px 12px;
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;
      user-select: none;
      outline: none;
      box-shadow: none;
      border: none;

      &.active {
        background: $primary-color;
        color: #fff;
        pointer-events: auto;
      }
    }
  }
}
