@import '../../../sass/color';

.commentList {
  display: flex;
  margin-top: 16px;
  position: relative;

  .avatar {
    flex-shrink: 0;
    width: 36px;

    img {
      border-radius: 50%;
      height: 36px;
      text-align: center;
      width: 100%;
    }
  }

  .commentBody {
    flex: 1 1;
    margin-left: 8px;
    padding-left: 4px;

    &:hover {
      .commentAction {
        .action {
          .optionButton {
            opacity: 1;
          }
        }
      }
    }

    .commentContent {
      background-color: #f2f3f5;
      border-radius: 18px;
      color: #1c1e21;
      display: inline-block;
      max-width: 586px;
      min-width: 120px;
      padding: 9px 12px;
      position: relative;

      &.extend {
        max-height: 200px;
        overflow-y: hidden;
      }

      h5 {
        font-size: 14px;
        font-weight: 600;
        color: #000;
        margin: 0;
      }

      span {
        font-weight: 400;
        font-size: 14px;
      }

      pre {
        background: #272822;
        border: 1px solid #272822;
        border-radius: 6px;
        display: block;
        font-family: Fira Code, monospace;
        font-size: 14px;
        line-height: 1.8;
        overflow-x: auto;
        padding: 6px 8px;
        tab-size: 4;
        white-space: pre;
        margin: 7px 0;
        color: #a6e22e;
        word-break: break-all !important;
        word-wrap: wrap !important;

        &:hover {
          .copyWrapper {
            opacity: 1;
          }
        }

        .copyWrapper {
          opacity: 0;
          position: absolute;
          right: 15px;
          top: 40px;
          transition: opacity 0.3s ease-in-out;
          z-index: 10;
          margin-right: 10px;

          .copyButton {
            background: #4c4d48;
            border-radius: 4px;
            box-shadow: 0 2px 0 0 rgba($color: #000000, $alpha: 0.2);
            color: #bbb;
            font-size: 10px;
            font-weight: 400;
            border: 0;
            font: inherit;
            line-height: normal;
            overflow: visible;
            user-select: none;
          }
        }
      }

      .extendButton {
        background-color: #f2f3f5;
        bottom: 0;
        color: $primary-color;
        cursor: pointer;
        font-weight: 600;
        left: 0;
        padding: 8px 0;
        position: absolute;
        right: 0;
        text-align: center;
        font-size: 13px;
        z-index: 999;

        i {
          margin-left: 8px;
          color: $text-color;
        }
      }

      .reactCounterWrapper {
        align-items: center;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 1px 3px 0 #00000033;
        display: flex;
        padding: 2px 4px 2px 2px;
        position: absolute;
        bottom: -10px;
        right: 0;
        z-index: 99;

        .reactCounterContainer {
          display: flex;
          cursor: pointer;
          color: rgb(54, 88, 153);
          font-family: 'San Francisco', -apple-system, BlinkMacSystemFont,
            '.SFNSText-Regular', sans-serif;
          font-size: 12px;
          font-weight: 500;
        }

        .icon {
          width: 18px;
          height: 18px;
          background-size: 100% 100%;
          border-radius: 8px;
          box-shadow: #fff 0px 0px 0px 2px;
          position: relative;
          z-index: 3;
        }

        .count {
          color: #65676b;
          font-size: 13px;
          font-weight: 500;
          margin: 0 3px;

          img {
            margin-left: 3px;
            width: 13px;
            height: 13px;
          }
        }
      }
    }

    .commentAction {
      margin: 14px 0;
      display: flex;

      .action {
        color: #999;
        display: flex;
        font-size: 14px;

        .reactionButton {
          color: #e87a5a;
          font-size: 13px;
          margin: 0 4px;

          .reaction {
            position: absolute;
            top: 16px;
            left: 30px;
            width: fit-content;
            transition: 0s;
            display: none;
            opacity: 0;
            transition-delay: 0.5s;
            animation: fadeIn ease 0.3s;
          }

          &:hover {
            cursor: pointer;
            text-decoration: underline;

            .reaction {
              display: block;
              opacity: 1;
              transition-delay: 0.5s;
            }
          }
        }

        .createdAt {
          color: #999;
          font-size: 14px;
          margin: 0 4px;
        }

        .dot {
          margin: 0 4px 0 4px;
        }
        .optionIcon {
          color: #888;
          font-size: 16px;
          padding: 4px;
          cursor: pointer;

          &:hover {
            color: #292929;
          }
        }

        .optionWrapper {
          position: absolute;
          min-width: 201px;
          margin: 0px;
          top: 24px;
          right: 0;
          z-index: 21;

          .optionItem {
            color: #444;
            cursor: pointer;
            display: block;
            font-size: 14px;
            padding: 8px 20px;
            transition: 0.3s;

            &:hover {
              background-color: #f0f0f0;
              color: #292929;
            }

            i {
              font-size: 16px;
            }

            span {
              margin-left: 16px;
            }
          }
        }
      }
    }
  }
}

.viewReplies {
  margin: 0 0 5px 49px;

  .repliesCount {
    font-size: 14px;
    font-weight: 600;
    color: $text-color;
    transition: all 0.3s ease-in-out;
    line-height: 1.6;
    margin-bottom: 0;
    margin-top: 4px;
    cursor: pointer;

    i {
      font-size: 16px;
      margin-left: 8px;
      position: relative;
      top: 1px;
    }
  }
}

@media screen and (max-width: 739px) {
  .commentBody {
    .commentContent {
      max-width: calc(100vw - 80px) !important;
    }
  }
}
