@import '../../../../sass/color';
@import '../../../../sass/flexCenter';

.wrapperList {
  display: flex;
  justify-content: center;
}

.header {
  @include flexCenter(row);
  justify-content: flex-start !important;
}

.logo {
  width: 38px;
  height: 38px;
  margin-right: 10px;
}

.subTitle {
  font-size: 16px;
  font-weight: 600;
  margin-top: auto;
  margin-bottom: auto;
}

.list {
  padding-left: 0;
  list-style-type: none;
  margin: 10px 0;
}

.item {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 8px;
  color: $footer-text-color;

  a {
    text-decoration: none;

    color: $footer-text-color;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .wrapperList {
    justify-content: flex-start;

    .header {
      justify-content: flex-start;
    }
  }
}

@media (max-width: 739px) {
  .header {
    justify-content: center !important;
  }
}
