@import '../../sass/flexCenter';

.navHeader {
  background-color: #29303b;
  //   padding: 0 28px !important;
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  will-change: transform;
  z-index: 20;

  .backHome {
    cursor: pointer;
    height: 50px;
    width: 60px;
    transition: background-color 0.2s linear;
    @include flexCenter(row);
    color: #fff;

    &:hover {
      background-color: #0000001a;
    }

    i {
      font-size: 16px;
    }
  }

  .logo {
    @include flexCenter(row);
    flex: 1 1;
    justify-content: flex-start !important;
    .logoNavbar {
      width: 38px;
      height: 30px;
      flex-shrink: 0;
      object-fit: contain;
      border-radius: 6px;
      margin-left: 6px;
    }

    .logoHeading {
      font-size: 14px;
      font-weight: 700;
      margin: 0 0 0 16px;
      color: #fff;

      span {
        text-decoration: none;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        color: #808990;
      }

      i {
        margin-right: 4px;
        transition: all 0.3s ease;
      }
    }
  }

  .userAction {
    align-items: center;
    display: flex;
    flex: 1 1;
    justify-content: flex-end;

    .progressBar {
      align-items: center;
      display: flex;
      margin-right: 24px;

      p {
        color: #fff;
        font-size: 13px;
        margin: 0 0 0 6px;
        line-height: 50px;
      }

      .circularProgress {
        width: 34px;
        height: 34px;
      }
    }

    .actionButton {
      cursor: pointer;
      opacity: 1;
      background-color: transparent;
      color: #fff;
      font-size: 14px;
      margin-right: 24px;
      border: none;
      box-shadow: none;
      display: block;
      outline: none;
      padding: 0;
      user-select: none;
    }
  }
}

@media (max-width: 1023px) {
  .navHeader {
    .userAction {
      p {
        display: none;
      }

      & .actionButton:last-child,
      .actionButton span {
        display: none;
      }
    }
  }
}
