@import '../../sass/color';

.wrapper {
  bottom: 50px;
  left: 0;
  margin-top: 50px;
  overflow-x: hidden;
  overscroll-behavior: contain;
  position: fixed !important;
  top: 0;
  width: 77%;

  &.fullWidth {
    width: 100%;
  }

  .content {
    min-height: 400px;
    padding: 0 8.5%;

    .contentTop {
      align-items: center;
      display: flex;
      justify-content: space-between;

      .heading {
        h3 {
          font-size: 30px;
          font-weight: 600;
          margin: 48px 0 8px;
          line-height: 1.6;
        }

        p {
          font-size: 13px;
          margin-bottom: 36px;
        }
      }

      .addNoteButton {
        background-color: #ebebeb;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
        padding: 12px 16px;
        position: relative;
        top: -12px;
        transition: 0.3s ease;
        user-select: none;
        border: none;
        box-shadow: none;
        display: block;
        outline: none;

        .label {
          margin-left: 8px;
          .duration {
            font-size: 13px;
            font-weight: 600;
          }
        }
      }
    }
  }

  .aboutMessage {
    margin: 16px 0;
    p {
      a {
        color: $primary-color;
      }
    }
  }
}

.poweredBy {
  color: #666;
  font-size: 14px;
  padding: 12px 0;
  text-align: center;

  i {
    color: #d43c68;
  }

  .dot {
    padding: 0 6px;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    .content {
      padding: 0 8.5%;
    }

    &.fullWidth {
      .content {
        padding: 0 16%;
      }
    }
  }
}

@media (max-width: 1023px) {
  .wrapper {
    width: 100%;
  }
}

@media (max-width: 739px) {
  .wrapper {
    .content {
      padding: 16px !important;

      .contentTop {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}
